@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-image: url(../PSX_20200129_200310.jpg);
  background-size: 100%;
  background-repeat: no-repeat; }

.header__text {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.729);
  padding-top: 1rem;
  text-align: center;
  font-size: 100px;
  width: auto; }
  .header__text__content {
    text-align: center; }

.nav {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  display: flexbox;
  justify-content: center;
  margin: 0, auto; }
  .nav__item {
    display: inline-flex;
    align-content: space-between;
    padding: 2.5rem; }
    .nav__item a {
      color: rgba(255, 226, 3, 0.9); }
      .nav__item a:hover {
        transition: .5s;
        transform: scale(2); }

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  section__card {
    transform: scale(1); }

.card-body {
  background-color: rgba(150, 150, 150, 0.695);
  border-radius: 1px; }
  .card-body card-text, .card-body p {
    color: rgba(255, 226, 3, 0.9); }
  .card-body .__settings {
    font-family: 'Yafone Kaffeesatz', sans-serif;
    font-style: italic;
    font-weight: 200; }
