@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;700&display=swap');

container-fluid {
        .__section1, .__section2, .__section3{
                p{
                    font-family: 'Yanone Kaffeesatz', sans-serif;
                    font-weight: 300;
                    text-decoration-color: aqua;
                    background-color: aqua;
                    color: azure;
                }
        }
 }