@import "_reset";
@import "_fonts";

body {
  background-image: url(../PSX_20200129_200310.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.header__text {
  @include headerText;
  text-align: center;
  font-size: 100px;
  width: auto;
  &__content {
    text-align: center;
  }
}
.nav {
  @include navText;
  display: flexbox;
  justify-content: center;
  margin: 0, auto;
  &__item {
    display: inline-flex;
    align-content: space-between;
    padding: 2.5rem;
    a{
      @include navTextColor;
    }
  }
}

section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
    &__card{
      transform: scale(1);
    }
}
.card-body{
  @include cardBGColor;
  border-radius: 1px;
    card-text, p{
      @include descriptionTextColor
    }
      .__settings{
        @include descriptionSettings
      }
}

/* Portfolio Collage */ 

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  > * {
    margin: 5px;
  }
}

.media {
  width: 300px;
  height: 200px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
      max-width: 100%;
      height: auto;
    }
}

.layer {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 90%;
  background: #FFF;
  color: #151E3F;
  transition: all 0.9s ease;
  p {
    transition: all 0.9s ease;
    transform: scale(0.1)
  }
}

p {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-size: 15px;
  letter-spacing:1px;
}

.media:hover .layer {
  opacity: 0.8;
  width: 90%;
  transition: all 0.5s ease;
  p {
    transform: scale(1);
    transition: all 0.9s ease;
  }
}

@media (max-width: 800px){
  body {
    transform: scale(0.6);
  }
}

@media (max-width: 600px) {
    .wrapper {
    display: block;
    > * {
      margin: 10px;
    }
  }
}